excluded_sources=*\Tools\MSVC\*
excluded_sources=*\gtest*
excluded_sources=*Program Files*
excluded_sources=*vcstartup*
excluded_sources=*src\vctools\*
excluded_sources=*src\ExternalAPI*
excluded_sources=*\mock\*
excluded_sources=*\googlemock\*
excluded_sources=*\tests\*
excluded_modules=*\Windows\*
export_type=cobertura:coverage_output.xml